* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #0e0e10;
    color: #efeff1;


    /* font-feature-settings: normal;
font-kerning: auto;
font-optical-sizing: auto;
font-size: 13px;
font-size-adjust: none;
font-stretch: 100%;
font-style: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-emoji: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-variation-settings: normal;
font-weight: 400; */
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.video-container {
    flex: 10;
    position: relative;
    height: 92%;
}

#vk-player {
    width: 100%;
    height: 100%;
}

.chat-container {
    position: relative;
    /* flex: 2.6; */
    background-color: #18181b;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    /* min-width: 340px; */
    width: 340px;
    border-left: 1px solid #2d2d32;
    font-size: 13px;
}

#chat-container {
    position: absolute;
    bottom: 0;               /* Прикрепляем к нижней границе */
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    pointer-events: none;    /* Чтобы клики проходили через, за исключением кнопки */
}

h4 {
    line-height: 2;
    font-weight: 600 !important; 
}

.chat-header {

    color: rgb(222, 222, 227);
    padding: 10px 15px;
    font-size: .8rem;
    border-bottom: 1px solid #2d2d32;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playback-controls {
    display: flex;
    align-items: center;
}

#sync-chat {
    background-color: #9147ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#sync-chat:hover {
    background-color: #772ce8;
}

#chat-messages-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;           /* чтобы wrapper занимал всю высоту */
}

/* Чат: блочный, скролл внутри, прижат к низу через margin-top */
#chat-messages {
    display: block;         /* обычный блочный контейнер */
    margin-top: auto;       /* «спейсер» для прижатия вниз */
    overflow-y: auto;       /* скролл по переполнению */
    padding-bottom: 3rem;
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.3) transparent;
}
/* Стили для Webkit-браузеров */
#chat-messages::-webkit-scrollbar {
    width: 4px;
    transition: opacity 0.3s ease;
}
#chat-messages::-webkit-scrollbar-track {
    background: transparent;
}
#chat-messages::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
#chat-messages:hover::-webkit-scrollbar-thumb {
    opacity: 1;
}


/* Упоминания @nickname — semibold (600) */
.chat-mention {
    font-weight: 700;
    color: #efeff1;
  }
  
  /* Ссылки в чате */
  .chat-link {
    color: #bf94ff;
    text-decoration: none;
  }
  .chat-link:hover {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 0.3rem;
    text-decoration: underline;
  }
  



.chat-message {
    padding: .30rem 0; 
    /* В оригинале  padding: .50rem 0; у нас .25 */
    line-height: 1.25rem;
    word-wrap: break-word;
    transition: background-color 0.1s;
    padding-inline-start: .3rem;
    word-break: break-word;
    display: flex;
    width: 100%;
    align-items: baseline;
    flex-wrap: nowrap;
}

.chat-message:hover {
    background-color: #1f1f23;
}

.chat-message .timestamp {
    color: rgb(222, 222, 227);
    font-size: .75rem;
    line-height: 1.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-right: 0.3rem;
    flex-shrink: 0;
    display: inline-block;
    align-items: baseline;
    border-radius: 3px;
}

.chat-message .timestamp:hover {
    background-color: rgba(83, 83, 95, 0.48);
    cursor: pointer;
}

.message-container {
    display: inline;
    flex-wrap: nowrap;
    align-items: baseline;

}

.badges-container {
    display: inline-block;
    align-items: center;
    vertical-align: baseline;
    height: 18px;
    padding-bottom: 1.35rem;
}

.chat-message .badge {
    display: inline;
    margin: 0 .15rem 0rem 0;
    /* margin: 0 .3rem .2rem 0; - в оригинале именно так, мы делаем размер height: 18px в .badges-container, а можем оставить .2rem (у нас будет другое) */
    vertical-align: middle;
}

.chat-message .username {
    font-weight: 700;
    list-style-position: inside;
    list-style-type: none;
    display: inline;
    text-decoration-line: none;
    vertical-align: baseline;
    flex-wrap: nowrap;
}

.chat-message .username-separator {
    color: #efeff1;
    vertical-align: baseline;
}

.chat-message .message-content {
    color: #efeff1;
    word-wrap: break-word;
    display: inline;
    vertical-align: baseline;
}

.chat-message .emote {
    display: inline-block;
    vertical-align: baseline;
}

/* Кастомный скроллбар для чата */
#chat-messages::-webkit-scrollbar {
    width: 6px;
}

#chat-messages::-webkit-scrollbar-track {
    background: #18181b;
}

#chat-messages::-webkit-scrollbar-thumb {
    background: #4b4b51;
    border-radius: 3px;
}

#chat-messages::-webkit-scrollbar-thumb:hover {
    background: #5b5b60;
}



/* Адаптивный дизайн */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    
    .video-container {
        height: 56.25vw; /* 16:9 соотношение сторон */
        max-height: 70vh;
    }
    
    .chat-container {
        position: relative;
        margin-left: 0;
        margin-top: 20px;
        height: 50vh;
    }

}

#auto-scroll-button {
    pointer-events: auto;
    margin-bottom: 20px;       /* Отступ от нижней границы */
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    border-radius: 5px;

    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    z-index: 999;
    opacity: 0;              /* Изначально скрыта */
    transition: opacity 0.3s ease;
    align-items: center;
    pointer-events: none;
}

.auto-scroll-button-text {
    border: none;
    border-radius: 5px;
    padding: .6rem .8rem;
}

.auto-scroll-button-text:hover {
    background-color: rgba(255, 255, 255, 0.13);
}

/* Видимость кнопки контролируется только классом .show */
#auto-scroll-button.show {
    opacity: 1;
    pointer-events: auto;
}

/* #auto-scroll-button:hover {
    background-color: rgba(255, 255, 255, 0.13);
    color: fffff;
} */

.emote-stack {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

.emote {
    vertical-align: middle;
    display: inline-block;
    pointer-events: none;
    margin: -0.25rem 0;
}

.emote-stack .emote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
}

.message-content {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
} 

